#new_wrap {
    background-color: bisque;
    width: 1200px; 
    margin: 0 auto;
}
#new_wrap > h1 {
    width: 860px; 
    margin: 0 auto;
}
#new_wrap #new_slide_wrap {
    background-color: aqua;
    width: 860px; 
    margin: 0 auto; 
    overflow: hidden;
    /* absolute 부모기준설정 */
    position: relative;
}
#new_wrap #new_slide_wrap .new_slides { 
    background-color: orange;
    /* float 적용 전 자식 높이를 인식해서 자동으로 따라오는 부모 */
    /* float 적용 후 부유한 자식 요소들로 인해 높이 인식 불가 부모(해결) */
    /* (위) 문제 해결법 -> 넘친 자식 요소들 재인식 시키기*/
    overflow: hidden;
    /* 자식 요소의 전체 너비 설정 */
    /* width: max-content; */
    width: calc(860px * 4); /* calc계산기함수사용, 연산자 좌우여백 필수 */
}
#new_wrap #new_slide_wrap .new_slides .slide { 
    border: 2px solid red;
    height: 450px; 
    width: 860px;
    /* 실제 크기가 필요한 주요 요소(자식)한테 높이를 주면 그 부모 요소들은 자동으로 자식과 크기가 같아진다. */
    float: left;
}
#new_wrap #new_slide_wrap .new_slides .slide h1 {}
#new_wrap #new_slide_wrap .new_slides .slide a {}
#new_wrap #new_slide_wrap .new_slides .slide1 {}
#new_wrap #new_slide_wrap .new_slides .slide2 {}
#new_wrap #new_slide_wrap .new_slides .slide3 {}
#new_wrap #new_slide_wrap .new_slides .slide4 {}
#new_wrap #new_slide_wrap .prev {
    background-color: pink;
    /* position 현재위치기준 */
    /* position: relative; left: 50px; top: -50px; */
    /* absolute 부모위치기준(기본부모 : body) */
    /* 기준 부모 설정은 -> 부모 position 설정 */
    position:absolute; left: 0; top: 50%;
}
#new_wrap #new_slide_wrap .next {
    background-color: cadetblue;
    position: absolute; right: 0px; top: 50%;
}
#new_wrap #new_slide_wrap .page {
    background-color: yellow;
    position: absolute; right:50px; bottom: 50px;
}
#new_wrap #new_slide_wrap .page .current {}
#new_wrap #new_slide_wrap .page .all {}
/* 영풍문고 독자들의 선택 ------------------------------ */
#book_select {
    width: 1084px;
    margin: 50px auto 0;
    background-color: bisque;
    position: relative;/* 이전, 다음 기준위치 설정(부모) */
}
#book_select h1 {}
#book_select #book_slide_wrap {}
#book_select #book_slide_wrap .slide_wrap {
    width: calc(340px * 3);/* 4 */
    overflow: hidden;/* 4 */
    margin: 0 auto; ;
}
/* #book_select #book_slide_wrap .slides {
    width: calc(340px * 4);/* 3 */
#book_select #book_slide_wrap .slides {width: calc(340px * 4);}
#book_select #book_slide_wrap .slides .slide { 
    width: 340px; height: 472px;/* 1 */
    display: block;/* 2 */
    float: left;
    
}
#book_select #book_slide_wrap .slides .slide .thumnail::after {
    content: '';
    display: block;
    height: 100%; width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute; left: 0; top: 0;
    z-index: 40;
}
#book_select #book_slide_wrap .slides .slide .thumnail {
    height: 324px; 
    background-image: url(../images/bg2.jpg);
    background-size: 340px auto;
    background-position: bottom center;
    padding: 30px 25px 0;
    position: relative;
}
#book_select #book_slide_wrap .slides .slide .thumnail p {
    color: #fff;
    line-height: 1.5;
    z-index: 50; 
    position: relative;
}
#book_select #book_slide_wrap .slides .slide .book_info {
    height: 148px;
    /* padding: 20px; */
}
#book_select #book_slide_wrap .slides .slide .book_info .cover {
    margin-right: 10px;
    float: left;
    padding: 15px 0 0 15px;
}
#book_select #book_slide_wrap .slides .slide .book_info .cover img {width: 70px;}
#book_select #book_slide_wrap .slides .slide .book_info dl {
    float: left;
    padding-top: 15px;
    position: relative;/* after를 위한 부모 기준 설정하기 */
}
#book_select #book_slide_wrap .slides .slide .book_info dl::after {
    content: '';/* 필수! */
    display: block;/* 크기인식 */
    width: 100%; height: 100%;/* 크기값적용 */
    background-color: rgba(255, 255, 255, 0.7);/* 반투명색상 */
    position: absolute; /* 형제 요소와 겹치기 */
    left: 0px; top: 0px;/* 위치설정 */
    z-index: 40;/* 형제관계 중첩순서 설정 */
}
#book_select #book_slide_wrap .slides .slide .book_info dl > * {
    position: relative;/* z-index 설정하기 위한 준비속성 */
    z-index: 120;/* 기준 형제보다 작은값 또는 높은값 작성 */
}
#book_select #book_slide_wrap .slides .slide .book_info dl dt {margin-bottom: 8px;}
#book_select #book_slide_wrap .slides .slide .book_info dl dd {margin-bottom: 8px;}
#book_select #book_slide_wrap .slides .slide .book_info dl dd img {}
#book_select #book_slide_wrap .slides .slide .book_info dl .score {}
#book_select #book_slide_wrap .slides .slide .book_info dl .review {}
#book_select #book_slide_wrap .slides .slide1 {background-color: burlywood;}
#book_select #book_slide_wrap .slides .slide2 {background-color: yellow;}
#book_select #book_slide_wrap .slides .slide3 {background-color: burlywood;}
#book_select #book_slide_wrap .slides .slide4 {background-color: yellow;}
#book_select #book_slide_wrap #bk_selc_prev,
#book_select #book_slide_wrap #bk_selc_next {position: absolute; top: 40%;}
#book_select #book_slide_wrap #bk_selc_prev {left: 0;}
#book_select #book_slide_wrap #bk_selc_next {right: 0;}
#book_select #book_slide_wrap .pagenation {
    background-color: aqua;
    text-align: center;
    padding: 10px 0
}
#book_select #book_slide_wrap .pagenation a {
    width: 8px; height: 8px; display: inline-block;
    background-color: #aaa;
    border-radius: 50%;
}
#book_select #book_slide_wrap .pagenation .active {
    width: 14px; height: 14px;
}
/* 오늘의 책-------------------------------------------------------------- */
#today_book {
    width: 1084px;
    background-color: cadetblue;
    margin: 50px auto;
}
#today_book .title {
    padding: 10px 0; 
    overflow: hidden;/* 자식 h1,more float로 인한 부모인식 속성 */
}
#today_book .title h1 {float: left;}/* 형제 모두 float 적용 */
#today_book .title .more {float: right;}
#today_book .contents {overflow: hidden;}/* 자식 li float 적용으로 인해 부모인식을 위한 값 */
#today_book .contents li {
    /* width: 193px; */
    width: calc((100% - (29.7px * 4)) / 5);
    /* 옆으로 배치는 형제관계부터 생각하기 */
    float: left; 
    margin-right: 29.7px;
    }
#today_book .contents li:last-child {margin: 0;}/* 마지막 li 여백초기화 */
#today_book .contents li .thumnail {position: relative;}
#today_book .contents li .thumnail img {width: 100%;}/* 부모 li의 너비값이 자식,자손 블록 기본 100%로 인해 자동적용되는데 img는 인라인이므로 자동적용이 안되기 때문에 직접 w100%를 입력해서 부모와 너비를 같게 만들어야 한다. */
#today_book .contents li .thumnail .popup {
    background-color: rgba(0,0,0,0.6); 
    padding: 20px;
    /* 부모 thumnail relative 기준으로 왼쪽상단 위치같음, 가로세로 크기같음 */
    position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;
    content: '';
    display: block;
    z-index: 100;
}
#today_book .contents li .thumnail .popup > * {color: #fff;}
#today_book .contents li .thumnail .popup > a {
    display: block;
    /* height: 85%;  */
    height: calc(100% - 30px); 
    line-height: 1.5;
    z-index: 130
}
#today_book .contents li .thumnail .popup .view_cart {
    position: absolute; 
    left: 0; bottom: 25px; width: 100%;
    text-align: center;
}
#today_book .contents li .thumnail .popup .view_cart a {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 3px;
    border-radius: 10%;
    position: relative;
    z-index: 120;
    margin: 2px;
}
#today_book .contents li h2 {}
#today_book .contents li p {}