body {}
.wrap {
    margin: 0 auto; 
    padding: 20px 15px;
    text-align: center;
    background-color: antiquewhite;
    width: 402px; height: 100vh;}
.wrap h2, .wrap h3 { /* 그룹선택자 (,) 기준으로 뒤 선택자 RESET, 부모부터 다시쓰기 */
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.wrap h2 {}
.wrap p {}
/* 인접형제선택자를 이용한 p 선택방법 +그룹(,) */
.wrap h2+p, .wrap h3+p {font-size: 0.75rem; margin: 15px;}
/* 수열선택자를 이용한 p 선택방법 +그룹(,) */
/* .wrap p:nth-child(2), .wrap p:nth-child(5) {font-size: 0.75rem; margin: 15px;} */
.wrap h2+p em {color: #0011FF;}
/* .wrap p:nth-child(2) em; {color: #0011FF;} */
.wrap #content {margin: 0 0 30px;}
.wrap p:nth-child(5) {}
.wrap #content span {
    background-color: #CFFF60; font-weight: 500;
}
.wrap h3 {}
.wrap .details {}
.wrap .details em {
    
}