table {margin-bottom:50px ;}
#t1 {
    /* 테두리:선두께 선모양 선색상; */
    border: 1px solid black;
    background-color: #eee;
}
#t1 tr {}
#t1 tr:nth-child(2) {
    background-color: #ff0;
}
#t1 tr th {
    padding: 10px;
    border-bottom: 2px solid blue
}
#t1 tr th:nth-child(1) {
    border-right: 1px solid black;
}
#t1 tr td {
    border: 1px dotted red;
    padding: 10px;
    /* 표의 여백은 열(td, th) 적용 */
}
/* t2------------------------------------ */
#t2 {}
#t2 tbody {background-color: #eee;}
#t2 tr {}
#t2 tr th:nth-child(1),
#t2 tr th:nth-child(2) {width: 50;}
/* 전체 테이블 크기와 개별 열에 크기를 줬을 때 기준 */
#t2 tr th {
    border: 2px solid gray;
    border-bottom: 2px solid brown;
}
/* #t2 tr:nth-child(2) td:nth-child(3) {background-color: burlywood;} */
#t2 tr td {
    width: 150px;
    padding: 10px; 
    border: 1px solid brown;
}
/* 교보문고 도서재고 ------------------------------------------------ */
#kyobo {}
#kyobo h1 {font-size: 1.5rem; font-weight: 500; margin: 0px;}
#kyobo #book {
    background-color: #eee;
    width: 700px;
    border-radius: 20px;
}
/* 공통 열 선택자 */
#kyobo #book th,
#kyobo #book td {padding: 15px 0;}
#kyobo #book thead {}
#kyobo #book thead tr {}
#kyobo #book thead tr th {}
/* 그룹선택자 적용법 */
/* #kyobo #book thead tr th:nth-child(2), 
#kyobo #book thead tr th:nth-child(3), 
#kyobo #book thead tr th:nth-child(4), 
#kyobo #book thead tr th:nth-child(5), {width: 80px;} */
/* 형제선택자 적용법 */
#kyobo #book thead tr th:nth-child(1) ~ th  {width: 80px;} /* 1뒤에 있는 th~ */
#kyobo #book tbody {}
#kyobo #book tbody tr {}
#kyobo #book tbody tr:nth-child(2) {border: 2px solid black;}
#kyobo #book tbody tr th {
    text-align: left;
    padding-left: 15px;
}
#kyobo #book tbody tr td {text-align: center;}
/* 행정안전부 ------------------------------------------ */
#wrap {
    width: 1620px;
    background-color: #f5f5f5;
    margin: 0 auto; 
    padding: 50px 0;
}
#wrap .top {
    background-color: #fff;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
#wrap .top h1 {}
#wrap .top p {}
#wrap #sales {
    margin: 20px auto 0;
    text-align: center;
    width: 750px;
}
#wrap #sales thead {
    border: 1px solid black;
    border-left:0;
    border-right:0;
}
#wrap #sales thead tr {}
#wrap #sales thead tr th:nth-child(1) ~ th {width: 130px;}
#wrap #sales thead tr th {} 
#wrap #sales tbody {}
#wrap #sales tbody tr {}
#wrap #sales tbody tr:nth-child(3) {background-color: #D9D9D9;}
#wrap #sales tbody tr th {}
#wrap #sales tbody tr td {}
#wrap #sales tr th,
#wrap #sales tr td {padding: 16px 0; }
/* 선불요금제 ------------------------------------------------------- */
#phone {}
#phone #pay {
    width: 1100px;
}
#phone #pay thead {
    border: 2px solid black; 
    border-left: 0;
    border-right: 0;
}
#phone #pay thead tr {}
#phone #pay thead tr:nth-child(1) {border-bottom: 1px dashed #888;}
#phone #pay thead tr th {
    padding: 20px 0;
}
#phone #pay thead tr th img {width: 65px;}
#phone #pay thead tr th em {
    font-size: 0.75rem;
    color: #888;
    display: block;
}